:root {
  --bg-color: green;
}

div {
  background-color: black;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.position {
  background-color: var(--bg-color);
  position: sticky;
  top: 20p;
  right: 20px;
  z-index: -1;
}
