.container {
  display: flex;
  height: 100px;
  border: 3px dotted black;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
}

.item {
  flex: 1 0 120px;
}

.item:nth-child(2) {
  align-self: center;
  order: -1;
}
