body {
  margin: 0;
}

#app {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  height: 100vh;
  border: 2px solid green;
}

#app > * {
  border: 1px solid red;
}

#app header {
  grid-area: header;
}

#app main {
  grid-area: main;
}

#app footer {
  grid-area: footer;
}
