body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  height: 100vh;
  border: 2px solid green;
}

#app > div {
  border: 1px solid red;
}

span {
  border: 1px solid blue;
}
